{% extends 'responsables/base_resp.html'%}
 {% load static %}
{% block title%}Modification du profil {% endblock title%}


{% block content%}
 <section class="resume-section p-3 p-lg-5 " id="profil">
          <div class="row my-auto">
              <div class="col-12">
                <h3 class="  text-center">Modification du profil de  <span class="text-primary">{{Enseignants.nom}} </span>
					<span class="text-primary">{{Enseignants.prenom}} </span>	</h3>
                <div class="mb-5 heading-border"></div>
              </div>
              <div class="container " >
				  <div class="row" >
					  <div class="col-md-8 col-sm-12 mx-auto" >
						  <div>
							<h4 class="text-success text-center mb-3">{{ message }} </h4>
						 </div>
						<form action="" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{% for f in form1 %}
							<div class="col-lg-10 col-md-8 col-sm-12" >
								{{ f.label_tag }}
								{{ f }}
								{% if f.help_text %}
									<p class="help" >{{ f.help_text }}</p>
								{% endif %}
							</div>
							<br>
							{% endfor %}
							<div class="text-right">
								 <a href="/" type="button" class="btn btn-danger pull-right" >Annuler</a>
								<input type="submit" class="btn btn-primary pull-right" value="Enregistrer">

							 </div>
						</form>
					  </div>
				  </div>
			  </div>


          </div>
      </section>
{% endblock content%}