{% extends 'enseignant/base_teachers.html'%}
{% load static %}
{% block title%}Ajout de suivi {% endblock title%}


{% block content%}

<section class="resume-section p-3 p-lg-5 bg-light" id="suivis">

          <div class="row my-auto">
              <div class="col-12">
                <h4 class="text-center">AJOUT DE SUIVI</h4>
                <div class="mb-5 heading-border"></div>
              </div>
              <div class="col-12">
                <h6 class="text-success text-center">{{message}}</h6>

              </div>

          </div>
      </section>
	<footer class="bg-dark">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h3 class="text-warning font-weight-light p-3 ">
						Torolalagna
					</h3>

					<!--<p class="text-white mb-3">Copyright ©2021 All rights reserved | Ce site a été fait par
                      <a href="#"><span class="text-info">Rafanomezantsoa Sandratra Jovanie Ronaldo</span></a>
					</p>-->
				</div>
			</div>
		</div>
	</footer>
	<!--Fin du footer-->
{% endblock content%}
